.filter-container{
    float: left;
    width: 20%;

}

.filterCol{
    display: flex;
    height: 250px;
}

.filter-form{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 10px;
}

.SecTitle{
    width: 100%;
    margin-top: 18%;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.SecName{
    padding-right: 10%;
    font-size: xx-large;
    font-weight: bold;
    color: rgb(173, 69, 69);
    border-right: 2px solid black;
}

.Reset{
    margin-left: 5%;
    cursor: pointer;
    border: 0;
    background-color: white;
    font-size: large;
    color: #008C95;
}

hr{
    margin: 4%;
}

.filter-box{
    height: 100%;
    width: 100%;
    border: 5px solid rgb(138, 136, 136);
    overflow-y: auto;

}

.filter-title{
    background-color: #cac9c9;
    font-weight: bold;
    padding: 5%;
    font-size: 80%;
    border-bottom: 1px solid #e4e4e4;
}

.option-1{
    display: flex;
    margin: 15px;
}

.filter-attr{
    width: 10%;
}

.att-name{
    width: 90%;
    font-size: 65%;
    position: relative;
}

.att-name>span{
    color: rgb(58, 6, 6);
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.box-title{
    color: rgb(121, 12, 12);
}